.playground-heading {
    color: #2d3a35;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.default-array {
    color: #2d3a35;
    font-family: "Bree Serif";
    font-size: 24px;
}

.user-input {
    height: 40px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #cbd2d9;
    border-radius: 4px;
}

.index-of-number-heading {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 600;
}

.index-of-number-container {
    color: #795e26;
    background-color: #f3f3f3;
    padding: 20px;
    margin-top: 10px;
}

.index-of-number {
    color: #795e26;
    font-family: "Bree Serif";
    font-size: 36px;
}