@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.bg-container {
    background-color: #2d3a8c;
    height: 100vh;
}

.greetings {
    color: #ffffff;
    padding-top: 25px;
    font-size: 18px;
}

.name {
    color: #ffffff;
    font-size: 25px;
    font-weight: normal;
}

.form-container {
    background-color: #ffffff;
    border-radius: 20px 20px 0 0;
    padding: 25px;
    height: 100vh;
    margin-top: 15px;
}

.form-heading {
    font-size: 23px;
    text-align: center;
    color: #323f4b;
}

.form {
    padding: 30px;
    background-color: #f5f7fa;
    border-radius: 25px;
    margin-top: 32px;
    border: 1px solid #e4e7eb;
}

.label-text {
    color: #7b8794;
    font-size: 13px;
    font-weight: bold;
}

.btn-custom {
    background-color: #21396c;
    color: #ffffff;
}

.error-message {
    color: #dc3545;
    font-size: 12px;
}

.result-heading {
    font-size: 18px;
    color: #323f4b;
    font-weight: bold;
}

.result-container {
    background-color: #f5f7fa;
    list-style-type: none;
    padding: 15px;
    border-radius: 15px;
    margin-top: 25px;
    border: 1px solid #e4e7eb;
}