@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.profile-container {
    color: white;
    background-color: #b990ff;
    height: 100vh;
}

.heading {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 600;
    padding-top: 25px;
    text-align: center;
}

.age {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* .profile-img {
    width: 200px;
}

.profile-name {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 800;
    margin-top: 20px;
}

.age {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
} */